{% extends 'navbar.html' %} {% load static %} {% block title %}Edit Admin's Permission {% endblock title %} {% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">

    <title>Dashboard | Employee Management System</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="{%static 'css/sidebar.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">

            <div>
                <center>
                    <img src="static/icons/fardeen_profile_pic.jpg" class="profile_img" height="50px" width="50px">
                    <p style="color: rgb(196, 196, 196);">Welcome Fardeen</p>
                </center>
            </div>
            <br>
            <div style="display: flex; padding: 0px 2px;">
                <img src="static/icons/dashboard_icon.png" class="img" height="22px" width="22px">
                <h2><a href="/" class="a" style="color: rgb(196, 196, 196);">&nbsp; Dashboard</a></h2>
            </div>
            <br>
            <h3 class="h3">INTERFACE</h3>
            <br>

            <li class="li">
                <button class="dropdown-btn">
                    <img src="static/icons/department_icon.png" class="img" height="18px" width="18px">
                    Department
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="createdepartment">Create</a></button>
                        </li>
                        <li><button class="dropdown-btn"><a class="a" href="viewdepartment">View</a></button></li>
                    </ul>
                </div>
            </li>

            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/user_icon.png" height="25px" width="25px">
                    User
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn">
                                Role
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                            <div class="dropdown-container">
                                <ul class="dep_li">
                                    <li><button class="dropdown-btn"><a class="a" href="createrole">Create Role</a></button>
                                    </li>
                                    <li><button class="dropdown-btn"><a class="a" href="viewrole">View
                                                Role</a></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <li><button class="dropdown-btn">
                                User
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                                <div class="dropdown-container">
                                    <ul class="dep_li">
                                        <li><button class="dropdown-btn"><a class="a" href="viewuser">View
                                                User</a></button>
                                        </li>
                                        <li><button class="dropdown-btn"><a class="a" href="createuser">Create
                                                User</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><button class="dropdown-btn">
                                Permission
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                                <div class="dropdown-container">
                                    <ul class="dep_li">
                                        <li><button class="dropdown-btn"><a class="a" style="font-size: 17px;"
                                                href="viewpermission">View
                                                Permission</a></button>
                                        </li>
                                        <li><button class="dropdown-btn"><a class="a" style="font-size: 16px;"
                                                href="#">Create Permission</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                    </ul>
                </div>
                </li>
            </li>
            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/staff_leave_icon.png" class="img" height="25px" width="25px">
                    Staff Leave
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="approveleave">Approve
                                    Leave</a></button></li>
                        <li><button class="dropdown-btn"><a class="a" href="createleave">Create Leave</a></button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/staff_notice_icon.png" alt="" height="20px" width="20px">
                    Staff Notice
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="viewnotice">View Notice</a></button>
                        </li>
                        <li><button class="dropdown-btn"><a class="a" href="createnotice">Create
                                    Notice</a></button></li>

                    </ul>
                </div>
            </li>
            <li class="li">
                <button class="dropdown-btn">
                    <a href="mail" class="a">
                        <img src="static/icons/mail_icon.png" class="img" height="15px" width="25px">
                        Mail
                    </a>
                </button>
            </li>

            </ul>
        </div>
    </div>
    <div class="main">
        <div>
            <header>
                <p id="heading">
                    Edit Permission
                </p>
            </header>
        </div>
        <div class="regis" style="width: 90%;">
            <div class="form-heading">
                <header>
                    <h3>Permission</h3>
                </header>
            </div>
            <div style="padding: 10px;">
                <h2>Admin</h2>

                <table class="tab-edit">
                    <tr style="background-color: rgb(26 26 40); font-weight: 600;">
                        <td>Permission</td>
                        <td>Can-Add</td>
                        <td>Can-Edit</td>
                        <td>Can-Delete</td>
                        <td>Can-View</td>
                        <td>Can-List</td>
                    </tr>
                    <tr style="background-color: rgb(23 23 36 / 94%);">
                        <td>Department</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(26 26 40);">
                        <td>Role</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(23 23 36 / 94%);">
                        <td>Permission</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(26 26 40);">
                        <td>User</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(23 23 36 / 94%);">
                        <td>Notice</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(26 26 40);">
                        <td>Leave</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr style="background-color: rgb(23 23 36 / 94%);">
                        <td>Mail</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

                <input class="role-btn btn" style="margin-left: 15px;" type="submit" value="Update">
                <button class="role-btn right"><a href="viewpermission">Back</a></button>

            </div>
        </div>

    </div>
</body>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</html>
{% endblock body %}