{% extends 'navbar.html' %} {% load static %} {% block title %}View User {% endblock title %} {% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">

    <title>Dashboard | Employee Management System</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="{%static 'css/sidebar.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">

            <div>
                <center>
                    <img src="static/icons/fardeen_profile_pic.jpg" class="profile_img" height="50px" width="50px">
                    <p style="color: rgb(196, 196, 196);">Welcome Fardeen</p>
                </center>
            </div>
            <br>
            <div style="display: flex; padding: 0px 2px;">
                <img src="static/icons/dashboard_icon.png" class="img" height="22px" width="22px">
                <h2><a href="/" class="a" style="color: rgb(196, 196, 196);">&nbsp; Dashboard</a></h2>
            </div>
            <br>
            <h3 class="h3">INTERFACE</h3>
            <br>

            <li class="li">
                <button class="dropdown-btn">
                    <img src="static/icons/department_icon.png" class="img" height="18px" width="18px">
                    Department
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="createdepartment">Create</a></button>
                        </li>
                        <li><button class="dropdown-btn"><a class="a" href="viewdepartment">View</a></button></li>
                    </ul>
                </div>
            </li>

            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/user_icon.png" height="25px" width="25px">
                    User
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn">
                                Role
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                            <div class="dropdown-container">
                                <ul class="dep_li">
                                    <li><button class="dropdown-btn"><a class="a" href="createrole">Create Role</a></button>
                                    </li>
                                    <li><button class="dropdown-btn"><a class="a" href="viewrole">View
                                                Role</a></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <li><button class="dropdown-btn">
                                User
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                                <div class="dropdown-container">
                                    <ul class="dep_li">
                                        <li><button class="dropdown-btn"><a class="a" href="viewuser">View
                                                User</a></button>
                                        </li>
                                        <li><button class="dropdown-btn"><a class="a" href="createuser">Create
                                                User</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><button class="dropdown-btn">
                                Permission
                                <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px"
                                    width="25px">
                            </button>
                                <div class="dropdown-container">
                                    <ul class="dep_li">
                                        <li><button class="dropdown-btn"><a class="a" style="font-size: 17px;"
                                                href="viewpermission">View
                                                Permission</a></button>
                                        </li>
                                        <li><button class="dropdown-btn"><a class="a" style="font-size: 16px;"
                                                href="#">Create Permission</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                    </ul>
                </div>
                </li>
            </li>
            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/staff_leave_icon.png" class="img" height="25px" width="25px">
                    Staff Leave
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="approveleave">Approve
                                    Leave</a></button></li>
                        <li><button class="dropdown-btn"><a class="a" href="createleave">Create Leave</a></button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li"><button class="dropdown-btn">
                    <img src="static/icons/staff_notice_icon.png" alt="" height="20px" width="20px">
                    Staff Notice
                    <img src="static/icons/dropdown_icon.png" class="fa fa-caret-down" height="25px" width="25px">
                </button>
                <div class="dropdown-container">
                    <ul class="dep_li">
                        <li><button class="dropdown-btn"><a class="a" href="viewnotice">View Notice</a></button>
                        </li>
                        <li><button class="dropdown-btn"><a class="a" href="createnotice">Create
                                    Notice</a></button></li>

                    </ul>
                </div>
            </li>
            <li class="li">
                <button class="dropdown-btn">
                    <a href="mail" class="a">
                        <img src="static/icons/mail_icon.png" class="img" height="15px" width="25px">
                        Mail
                    </a>
                </button>
            </li>

            </ul>
        </div>
    </div>
    <div class="main">
        <div>
            <header>
                <p id="heading">
                    All Employee
                </p>
            </header>
            <div class="container">
                Show
                <input id="show" type="number" placeholder="1"> entries
                <div class="right">Search: <input id="search" type="search" aria-label="Search"></div>
            </div>
        </div>
        <div class="container">
            <table class="table-body" style="position: static; width: 95%;">
                <tr class="bold">
                    <td>SN</td>
                    <td>Photo</td>
                    <td>Name</td>
                    <td>E-Mail</td>
                    <td>Role</td>
                    <td>Department</td>
                    <td>Post</td>
                    <td>Start Date</td>
                    <td>Address</td>
                    <td>Mobile</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="photo" src="static/icons/user_icon.png"></td>
                    <td>Nic Park</td>
                    <td>nickbaskota9@gmail.com</td>
                    <td>admin</td>
                    <td>IT Dep</td>
                    <td>Supervisor</td>
                    <td>2020-04-20</td>
                    <td>Melbourne</td>
                    <td>9987452140</td>
                    <td><button class="role-btn"><img src="static/icons/edit_icon.png" class="edit_icon"></button></td>
                    <td><button class="role-btn"><img src="static/icons/delete_icon.png" class="delete_icon"></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img class="photo" src="static/icons/user_icon.png"></td>
                    <td>Eren Yeager</td>
                    <td>eren@gmail.com</td>
                    <td>supervisor</td>
                    <td>IT Dep</td>
                    <td>Supervisor</td>
                    <td>2020-04-20</td>
                    <td>Melbourne</td>
                    <td>9987452140</td>
                    <td><button class="role-btn"><img src="static/icons/edit_icon.png" class="edit_icon"></button></td>
                    <td><button class="role-btn"><img src="static/icons/delete_icon.png" class="delete_icon"></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img class="photo" src="static/icons/user_icon.png"></td>
                    <td>Nick</td>
                    <td>nic@gmail.com</td>
                    <td>Supervisor</td>
                    <td>Sales Dep</td>
                    <td>Supervisor</td>
                    <td>2020-04-20</td>
                    <td>Melbourne</td>
                    <td>9987452140</td>
                    <td><button class="role-btn"><img src="static/icons/edit_icon.png" class="edit_icon"></button></td>
                    <td><button class="role-btn"><img src="static/icons/delete_icon.png" class="delete_icon"></button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img class="photo" src="static/icons/user_icon.png"></td>
                    <td>Mandy Doe</td>
                    <td>mandy@gmail.com</td>
                    <td>admin</td>
                    <td>IT Dep</td>
                    <td>Software Engineer</td>
                    <td>2020-04-20</td>
                    <td>Melbourne</td>
                    <td>9987452140</td>
                    <td><button class="role-btn"><img src="static/icons/edit_icon.png" class="edit_icon"></button></td>
                    <td><button class="role-btn"><img src="static/icons/delete_icon.png" class="delete_icon"></button></td>
                </tr>
            </table>
            <div class="container">
                <p>Showing 1 to 3 of 3 entries</p>
                <div class="right">
                    <ul class="pagination">
                        <li class="page-item"><button><a class="page-link" href="#">Previous</a></button></li>
                        <li class="page-item"><button style="background-color: rgb(80, 80, 255);"><a class="page-link"
                                    style=" color: white;" href="#">1</a></button></li>
                        <li class="page-item"><button><a class="page-link" href="#">Next</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </div>static/

    </div>
</body>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</html>
{% endblock body %}